.topMenu hr{
    margin-bottom: 25px;
}
.finishTable{
    border-radius: 14px;
    background: #f7d0c545;
    height: 280px;
    padding-top: 40px;
}
.finishTable table{
    background: white;
    border: 3px outset #cedfe6;
    font-size: 15px;
    border-radius: 3px;
}

#finishAccount{
    width: 80%;
    margin: auto;
    padding: 12px;
    text-align: center;
}

#finishInfo{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

#sI1 td{
    padding-top: 15px;
}

#sI2 td{
    color: red;
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 15px;
}

#rightImg{
    position: absolute;
    top: 51%;
    left: 45%;
}

.successText{
    text-align: center;
    color: #ffbc00;
    font-size: 14px;
}

.accept button{
    font-weight: bold;
    padding: 10px;
    margin-top: 18px;
    margin-left: 129px;
    background-color: #fede13;
    border: aliceblue;
}