<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">   
      <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
            
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>순번</th>
                      <th>고객명</th>
                      <th>고객식별자</th>
                      <th>상품명</th>
                      <th>상품번호</th>
                      <th>계좌번호</th>
                      <th>금리</th>
                      <th>계약 일자</th>
                      <th>신청 사유</th>
                      <th>상태</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>김준형</td>
                      <td>123456</td>
                      <td>가계 대출</td>
                      <td>1-4567</td>
                      <td>11-4671-45213</td>
                      <td class="text-danger"> 3.76% </td>
                      <td>2018-01-01</td>
                      <td>직위변동</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>김준형</td>
                      <td>123456</td>
                      <td>가계 대출</td>
                      <td>1-4567</td>
                      <td>11-4671-45213</td>
                      <td class="text-danger"> 3.76% </td>
                      <td>2018-01-01</td>
                      <td>직위변동</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>김준형</td>
                      <td>123456</td>
                      <td>가계 대출</td>
                      <td>1-4567</td>
                      <td>11-4671-45213</td>
                      <td class="text-danger"> 3.76% </td>
                      <td>2018-01-01</td>
                      <td>직위변동</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>김준형</td>
                      <td>123456</td>
                      <td>가계 대출</td>
                      <td>1-4567</td>
                      <td>11-4671-45213</td>
                      <td class="text-danger"> 3.76% </td>
                      <td>2018-01-01</td>
                      <td>직위변동</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>김준형</td>
                      <td>123456</td>
                      <td>가계 대출</td>
                      <td>1-4567</td>
                      <td>11-4671-45213</td>
                      <td class="text-danger"> 3.76% </td>
                      <td>2018-01-01</td>
                      <td>직위변동</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>김준형</td>
                      <td>123456</td>
                      <td>가계 대출</td>
                      <td>1-4567</td>
                      <td>11-4671-45213</td>
                      <td class="text-danger"> 3.76% </td>
                      <td>2018-01-01</td>
                      <td>직위변동</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
     
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.templatewatch.com/" target="_blank">Templatewatch</a>. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
      </div>
    </footer>
    <!-- partial -->