{% extends 'bank/base.html' %}

{% block container %}

      <div class="main-panel">
        <div class="content-wrapper">  
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h4 class="font-weight-bold mb-0">Welcome to Service Desk!</h4>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                      <i class="ti-clipboard btn-icon-prepend"></i>Report
                    </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">REQUEST</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <i class="ti-layout-list-post menu-icon icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 mt-2">신청 현황</h3>
                    <a href="/total"><h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-warning">{{ total_num }}</h3> 
                    </a>
                  </div>  
                  <br>
                  <p class="mb-0 mt-2"> <span class="text-black ml-1"><small>(접수된 신청 현황을 확인할 수 있습니다)</small></span></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Authorized</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">승인 현황</h3>
                    <a href="/passed">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-warning">{{ true_num }}</h3>
                    </a>
                    <i class="ti-check-box menu-icon icon-lg text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                  <br>
                  <p class="mb-0 mt-2"><span class="text-black ml-1"><small>(요청이 승인된 건들을 확인할 수 있습니다)</small></span></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title text-md-center text-xl-left">Rejected</p>
                  <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">반려 현황</h3>
                    <a href="/rejected">
                      <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-warning">{{ false_num }}</h3>
                    </a>
                    <i class="ti-agenda icon-lg text-muted mb-0 mb-md-3 mb-xl-0"></i>
                  </div>  
                  <br>
                  <p class="mb-0 mt-2"><span class="text-black ml-1"><small>(요청이 반려된 건들을 확인할 수 있습니다)</small></span></p>
                </div>
              </div>
            </div>        
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Sales details</p>
                  <p class="text-muted font-weight-light"></p>
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                  <canvas id="sales-chart"></canvas>
                </div>
                <div class="card border-right-0 border-left-0 border-bottom-0">
                  <div class="d-flex justify-content-center justify-content-md-end">
                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                      <button class="btn btn-lg btn-outline-light dropdown-toggle rounded-0 border-top-0 border-bottom-0" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Today
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                        <a class="dropdown-item" href="#">January - March</a>
                        <a class="dropdown-item" href="#">March - June</a>
                        <a class="dropdown-item" href="#">June - August</a>
                        <a class="dropdown-item" href="#">August - November</a>
                      </div>
                    </div>
                    <button class="btn btn-lg btn-outline-light text-primary rounded-0 border-0 d-none d-md-block" type="button"> View all </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card border-bottom-0">
                <div class="card-body pb-0">
                  <p class="card-title">Purchases</p>
                  <p class="text-muted font-weight-light"></p>
                  <div class="d-flex flex-wrap mb-5">
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Status</p>
                      <h3>{{ total_num }}</h3>
                    </div>
                    <div class="mr-5 mt-3">
                      <p class="text-muted">New users</p>
                     
                      <h3 style="text-align: center">{{ true_num }}</h3>
                    </div>
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Chats</p>
                      <h3>{{ false_num }}</h3>
                    </div>
                    <div class="mt-3">
                      <p class="text-muted">Feedbacks</p>
                      <h3>509</h3>
                    </div> 
                  </div>
                </div>
                <canvas id="order-chart" class="w-100"></canvas>
              </div>
            </div>
          </div>
        </div>
        
{% endblock%}
       