{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/KBscan.css' %}">
        <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
        <title>StarBank BlockScan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <style>
        div p {
             overflow: hidden; 
             text-overflow: ellipsis;
             white-space: nowrap; 
             width: 100px;
             height: 20px;
        }
        </style>
    </head>
    <body>
        <div class="Top" style="height: 400px;">
            <div class="Top2">
                <h1>KB BlockChain Scan.</h1>
                <h3>KB_STAR</h3>
            </div>
        </div>
        <div class="row-card">
            <div class="col-card1">
                <div class="card-height">
                    <div style="padding: 17px;">
                        <div class="card-body" style="float: left; font-weight: bolder;">BlockChain<br>INFO.</div>
                        <img src="../../static/images/transaction.png" style="width: 75px;" alt="">
                        <span>블록갯수</span>
                        <img src="../../static/images/differentiation.png" style="width: 75px;" alt="">
                        <span>신청건수</span>
                    </div>
                </div>
            </div>
            <div class="col-card1_1">
                <div class="card-height">
                    <div>
                        <div class="card-body" style="float: left; font-weight: bolder; margin-top: 20px; margin-left: 10px;">금리인하<br>신청사유.</div>
                        <svg class="chart" style="position:absolute; top:52%; right:11%;"></svg>
                    </div>
                </div>
            </div>
        </div>    
            <img src="{% static 'images/research.png' %}" onclick="document.getElementById('id01').style.display='block'"
            class="block-btn" style="position:absolute; top:20%; width: 70px; top:52%; left: 87%;" alt="">
        <div>
            <div>
                <div class="row-card3">
                        <table class="col-head">
                            <tr>
                                <td>Number</td>
                                <td>Hash</td>
                                <td>time</td>
                                <td>Organization</td>
                                <td>Details</td>
                            </tr>
                        </table>
                        <hr>
                    <div class="col-table1">
                        <table class="col-head">
                            {% for i in block %}
                            <tr>
                            {% for j in i %}
                                <td>{{j}}</td>
                                
                                {% endfor %}
                            <td><a href='../block/{{forloop.counter}}'></a></td>
                            </tr>
                            {% endfor%}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% for i2 in block2%}
        <div class="container">
            <div class="modal fade" id="{{forloop.counter}}" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Block Info.</h4>
                    <img src="{% static 'images/Down.gif' %}" style="height: 35px;" salt="">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="font-family: sans-serif; height: 120px; width: 90%;margin: auto; text-align: center;"">
                    <hr>
                        <table style=" width: 100%; height: 30%; box-shadow: 0 0.5rem 1.2rem rgba(189,197,209,.2); background: #f2e8e833;">
                            {% for j2 in i2 %}
                            <tr>
                                <td style="border-right: 1px solid skyblue;">{{j2}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                
                </div>
            </div>
            
        </div>
        {% endfor %}
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script>
        var data = {
            labels: [
                '.'
            ],
            series: [
                {
                label: '이직/취직',
                values: [4]
                },
                {
                label: '소득',
                values: [12]
                },
                {
                label: '승진',
                values: [31]
                },]
            };

        var chartWidth       = 300,
            barHeight        = 20,
            groupHeight      = barHeight * data.series.length,
            gapBetweenGroups = 10,
            spaceForLabels   = 150,
            spaceForLegend   = 150;

        // Zip the series data together (first values, second values, etc.)
        var zippedData = [];
        for (var i=0; i<data.labels.length; i++) {
        for (var j=0; j<data.series.length; j++) {
            zippedData.push(data.series[j].values[i]);
        }
        }

        // Color scale
        var color = d3.scale.category20();
        var chartHeight = barHeight * zippedData.length + gapBetweenGroups * data.labels.length;

        var x = d3.scale.linear()
            .domain([0, d3.max(zippedData)])
            .range([0, chartWidth]);

        var y = d3.scale.linear()
            .range([chartHeight + gapBetweenGroups, 0]);

        var yAxis = d3.svg.axis()
            .scale(y)
            .tickFormat('')
            .tickSize(0)
            .orient("left");

        // Specify the chart area and dimensions
        var chart = d3.select(".chart")
            .attr("width", spaceForLabels + chartWidth + spaceForLegend)
            .attr("height", chartHeight);

        // Create bars
        var bar = chart.selectAll("g")
            .data(zippedData)
            .enter().append("g")
            .attr("transform", function(d, i) {
            return "translate(" + spaceForLabels + "," + (i * barHeight + gapBetweenGroups * (0.5 + Math.floor(i/data.series.length))) + ")";
            });

        // Create rectangles of the correct width
        bar.append("rect")
            .attr("fill", function(d,i) { return color(i % data.series.length); })
            .attr("class", "bar")
            .attr("width", x)
            .attr("height", barHeight - 1);

        // Add text label in bar
        bar.append("text")
            .attr("x", function(d) { return x(d) - 3; })
            .attr("y", barHeight / 2)
            .attr("fill", "red")
            .attr("dy", ".35em")
            .text(function(d) { return d; });

        // Draw labels
        bar.append("text")
            .attr("class", "label")
            .attr("x", function(d) { return - 10; })
            .attr("y", groupHeight / 2)
            .attr("dy", ".35em")
            .text(function(d,i) {
            if (i % data.series.length === 0)
                return data.labels[Math.floor(i/data.series.length)];
            else
                return ""});

        chart.append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(" + spaceForLabels + ", " + -gapBetweenGroups/2 + ")")
            .call(yAxis);

        // Draw legend
        var legendRectSize = 18,
            legendSpacing  = 4;

        var legend = chart.selectAll('.legend')
            .data(data.series)
            .enter()
            .append('g')
            .attr('transform', function (d, i) {
                var height = legendRectSize + legendSpacing;
                var offset = -gapBetweenGroups/2;
                var horz = spaceForLabels + chartWidth + 40 - legendRectSize;
                var vert = i * height - offset;
                return 'translate(' + horz + ',' + vert + ')';
            });

        legend.append('rect')
            .attr('width', legendRectSize)
            .attr('height', legendRectSize)
            .style('fill', function (d, i) { return color(i); })
            .style('stroke', function (d, i) { return color(i); });

        legend.append('text')
            .attr('class', 'legend')
            .attr('x', legendRectSize + legendSpacing)
            .attr('y', legendRectSize - legendSpacing)
            .text(function (d) { return d.label; });
        </script>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>