{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/menu.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap" rel="stylesheet">        
        <title>StarBank Menu</title>
    </head>
    <body> 
        <nav id="Menu">
            <ul>
                <li><img src="{% static 'images/login.png' %}" alt="login"><br>로그아웃</li>
                <br><br>
                <li><img src="{% static 'images/bag.png' %}" alt="login"><br>금융상품</li>
                <li><img src="{% static 'images/goal.png' %}" alt="login"><br>스타샷</li>
                <li><img src="{% static 'images/headset.png' %}" alt="login"><br>고객센터</li>
                <li><img src="{% static 'images/lock.png' %}" alt="login"><br>인증센터</li>
                <li><img src="{% static 'images/settings.png' %}" alt="login"><br>보안/설정</li>
                <li><img src="{% static 'images/star.png' %}" alt="login"><br>마이메뉴</li>
                <li><img src="{% static 'images/loading.png' %}" alt="login"><br>Language</li>
                <br>
            </ul>
        </nav>
        <div>
            <p style="font-size: 14px; padding-top: 55px; font-weight: bolder;">KB스타뱅킹에<br>오신 것을 환영합니다.</p>
            <br>
            <hr>
        </div>
        <div class="Serch">
            <table>
                <tr>
                    <td>&nbsp<img src="{% static 'images/search.png' %}" style="width: 15px;">&nbsp메뉴명을 입력해주세요</td>
                </tr>
            </table>
            <br>
        </div>
        <div class="Step">
            <p>STEP 01. &nbsp&nbsp대상을 선택해주세요</p>
            <table class="Step" style="color: darkgray;">
                <tr>
                    <td>예금</td>
                    <td onClick=Step2Table() id="loan" style="cursor:pointer;">대출</td>
                    <td>펀드</td>
                </tr>
                <tr>
                    <td>청약/채권</td>
                    <td>외환/환율</td>
                    <td>공과금</td>
                </tr>
                <tr>
                    <td>골드/주화</td>
                    <td>신탁/ISA</td>
                    <td>보험/공제</td>
                </tr>
                <tr>
                    <td>퇴직연금</td>
                    <td>카드</td>
                    <td>금융서비스</td>
                </tr>
            </table>
        </div>
        <div class="Step2">
            <p>STEP 02. &nbsp&nbsp거래를 선택해주세요</p>
            <table id="insertTable" style="color: darkgray;">
            </table>
        </div>
        <div class="Step3" style="visibility: hidden;">
            
        </div>
        <script src="{% static 'js/menu.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
        $('.Step2').click(function(){
            $('.Step').animate({height: "toggle", opacity:"toggle"}, "")
        })
        </script>
    </body>
</html>