{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/loading.css' %}">
        <link rel="stylesheet" href="{% static 'css/requestForm.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap" rel="stylesheet">        
        <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
        <title>StarBank RequestForm</title>
    </head>
    <body>
        <div class="topMenu">
            <img src="{% static 'images/KB.png' %}" alt="KBlogo" id="KBlogo" style="margin-left: 11px; margin-bottom:-9px;">
            <span>별 빚이 내린다</span>
            <img src="{% static 'images/falling-star.png' %}" alt="">
            <hr>
            <h4 id="tMh4" style="margin-left: 58px;">STEP 02 금리인하신청사유</h4>
            <table id="tMtable">
                <tr id="tMtr">
                    <td style="font-weight:bold;">금리인하 신청사유를 선택해주세요. <br>
                        ※금리인하요구권은 연 2회까지만 신청 가능합니다.</td>
                </tr>
            </table>
        </div>
        <div class="selectBox">
            <span>
                <h4 id="tMh4" style="margin-left: 50px;">해당하는 사유를 선택해주세요.</h4>
            </span> 
            <table>
                <tr>
                    <td>01. 직장의 변동</td>
                </tr>
                <tr>
                    <td>02. 연소득의 변동</td>
                </tr>
                <tr>
                    <td>03. 직위변동</td>
                </tr>
                <tr>
                    <td>04. 거래실적의 변동</td>
                </tr>
                <tr>
                    <td>05. 기타(ex.부채감소)</td>
                </tr>
            </table>
        </div>
        <div class="house" style="margin-top: 83px; text-align:center;">
            <hr>
            <img src="{% static 'images/house.png' %}"alt="house" style="margin-bottom: -8px;"><br>
            <span style="font-size: 13px; font-weight:bold;">홈으로</span>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{% static 'js/agree.js' %}"></script>
    </body>
</html>