.request img{
    width: 70px;
    padding-left: 36px;
}

.request h4{
    font-weight: 500;
    text-align: center;
    font-size: 19px;
    color: #0e75d6;
}

.request2 span{
    padding: 10px;
    text-align: center;
    font-family: 'Jua', sans-serif;
}

.request3 span{
    font-family: 'Jua', sans-serif;
}

.topMenu span{
    font-family: 'Jua', sans-serif; 
    color: #ffbc00;
}

.requestBtn button{
    font-weight: bold;
    padding: 10px;
    margin-top: 18px;
    margin-left: 129px;
    background-color: #fede13;
    border: aliceblue;
}

.requestWarning h4{
    font-size: 19px;
    color: #0e75d6;
    text-align: center;
}

.warning{
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #cbcbcb;
    text-align: center;
    margin: auto;
    width: 220px;
    height: 40px;
}

.WarningText{
    display: none;
    margin-right: 45px;
}
.WarningText li{
    font-size: 11px;
    list-style-type: none;
}
